.board{
    border-radius: 18px;
background: #ae1bbb;
box-shadow:  5px 5px 10px #4e0c54,
             -5px -5px 10px #ff2aff;
    width: 80%;
    margin: 0 auto;
    padding: 10px;   
    text-align: center;

}
.heading{
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.list{
    border-radius: 18px;
    background: #ae1bbb;
    box-shadow:  -5px -5px 10px #4e0c54,
             5px 5px 10px #ff2aff;
             width: 80%;
    margin: 10px auto;
    text-align: left;
    color: white;
    padding: 20px; 
}